@page {
  font-family: "arial", sans-serif;
}

.margin-all-5 {
  margin: 5px !important;
}

.no-margin {
  margin: 0 !important;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-bottom-3 {
  margin-bottom: 3px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

h2 {
  color: #9e9d24;
}

h3 {
  color: #f9a825;
}

h4 {
  color: #232323;
}

h5 {
  color: #9e9d24;
}

p {
  color: #2c2c2c;
}

b {
  font-weight: bold;
}

.blue-text {
  color: blue;
}

.position-relative {
  position: relative;
}

.text-10 {
  font-size: 10px;
}

.text-12 {
  font-size: 12px;
}

.text-20 {
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.container {
  margin: 133px 94px;
}

.text-center {
  text-align: center;
}

.firstpage {
  position: absolute;
  /*page-break-after: always;*/
  top: -50px;
  left: -50px;
  width: 115%;
  margin: 0;
}

.margin-port {
  margin: -133px 94px;
  padding: -133px 94px;
}

.responsive-img {
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
}

.responsive-img2 {
  margin-top: 25px;
  margin-bottom: 1px;
  margin-left: 8px;
  margin-right: 8px;
  width: 215px;
  height: 215px;
}

.responsive-img3 {
  margin-top: 20px;
  margin-bottom: 1px;
  margin-left: 8px;
  margin-right: 8px;
  width: 180px;
  height: 180px;
}

.centrar-todo {
  text-align: center;
}

.table-price-accommodation {
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #949494;
  width: 100%;
}

.table-price-accommodation td {
  border-left: 1px solid #333;
}

.table-price-accommodation th {
  background-color: #333;
  color: #FFFFFF;
}

.table-price-accommodation th,
.table-price-accommodation td {
  border: 1px solid #949494;
  padding: 3px 10px;
}

.table-price-accommodation .hour-text {
  color: #b71c1c;
}

.page-break {
  page-break-after: always;
}

.green-row {
  background-color: #e8f5e9;
}

.table-price-accommodation .active b {
  color: #f9a825;
}

.table-price-accommodation .active span {
  color: #b71c1c;
}

.table-price-accommodation .disabled {
  color: #949494;
}

.text-destinations {
  position: absolute;
  margin-top: -40px;
  left: -330px;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: -45px;
  right: 0px;
  height: 55px;
  line-height: 2px;
}

.footer span {
  color: #949494;
}

.footer .page:after {
  content: counter(page);
}

.footer table {
  width: 100%;
}

/*# sourceMappingURL=quotes-pdf.css.map */

.cabecera_pdf {
  position: absolute;
  background: url(/images/proposal-cabecera-pdf.jpg?74394a38a142cae2f3a1be712c7ebadb);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0px;
  /*page-break-after: always;*/
  top: -50px;
  left: -50px;
  height: 500px;
  width: 900px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}

.cuerpo_pdf {
  height: 200px;
  background: #2c2c2c;
}

.pie_pdf {
  margin: 0px;
  padding: 100px;
  height: 300px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}

.bienvenida {
  position: absolute;
  page-break-after: always;
  top: 350px;
  margin: 50px;
  color: white;
}

.pie {
  position: absolute;
  page-break-after: always;
  top: 920px;
  text-align: right;
}

/*.table-border{*/

/*border: 1px solid #ccc;*/

/*}*/

/*.table-proveedor{*/

/*color: #3097D1;*/

/*}*/

/*.table-fondo{*/

/*background: #3097D1;*/

/*color: white;*/

/*}*/

.table-proveedor {
  color: #3097D1;
}

/** {*/

/*margin: 0;*/

/*padding: 0;*/

/*}*/

#page-wrap {
  margin: 9px;
}

p {
  margin: 8px 0;
}

/*
Generic Styling, for Desktops/Laptops
*/

table {
  font: 10px/1 Georgia, Serif;
  width: 99%;
  border-collapse: collapse;
}

/* Zebra striping */

tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #3097D1;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 1px;
  border: 1px solid #ccc;
  text-align: left;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInJlc291cmNlcy9hc3NldHMvc2Fzcy9xdW90ZXMtcGRmLmNzcyJdLCJzb3VyY2VzQ29udGVudCI6WyJAcGFnZXtcclxuICAgIGZvbnQtZmFtaWx5OiBcImFyaWFsXCIsIHNhbnMtc2VyaWY7XHJcbn1cclxuLm1hcmdpbi1hbGwtNXtcclxuICAgIG1hcmdpbjogNXB4ICFpbXBvcnRhbnQ7XHJcbn1cclxuLm5vLW1hcmdpbntcclxuICAgIG1hcmdpbjogMCAhaW1wb3J0YW50O1xyXG59XHJcbi5tYXJnaW4tdG9wLTIwe1xyXG4gICAgbWFyZ2luLXRvcDogMjBweDtcclxufVxyXG4ubWFyZ2luLXRvcC00MHtcclxuICAgIG1hcmdpbi10b3A6IDQwcHg7XHJcbn1cclxuLm1hcmdpbi1ib3R0b20tM3tcclxuICAgIG1hcmdpbi1ib3R0b206IDNweDtcclxufVxyXG4ubWFyZ2luLWJvdHRvbS01e1xyXG4gICAgbWFyZ2luLWJvdHRvbTogNXB4O1xyXG59XHJcbi5tYXJnaW4tYm90dG9tLTIwe1xyXG4gICAgbWFyZ2luLWJvdHRvbTogMjBweDtcclxufVxyXG5oMntcclxuICAgIGNvbG9yOiAjOWU5ZDI0IDtcclxufVxyXG5oM3tcclxuICAgIGNvbG9yOiAjZjlhODI1O1xyXG59XHJcbmg0e1xyXG4gICAgY29sb3I6ICMyMzIzMjM7XHJcbn1cclxuaDV7XHJcbiAgICBjb2xvcjogIzllOWQyNDtcclxufVxyXG5we1xyXG4gICAgY29sb3I6ICMyYzJjMmM7XHJcbn1cclxuYntcclxuICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xyXG59XHJcbi5ibHVlLXRleHR7XHJcbiAgICBjb2xvcjogYmx1ZTtcclxufVxyXG4ucG9zaXRpb24tcmVsYXRpdmV7XHJcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XHJcbn1cclxuLnRleHQtMTB7XHJcbiAgICBmb250LXNpemU6IDEwcHg7XHJcbn1cclxuLnRleHQtMTJ7XHJcbiAgICBmb250LXNpemU6IDEycHg7XHJcbn1cclxuLnRleHQtMjB7XHJcbiAgICBmb250LXNpemU6IDIwcHg7XHJcbn1cclxuLnRleHQtY2VudGVye1xyXG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG59XHJcbi50ZXh0LWxlZnR7XHJcbiAgICB0ZXh0LWFsaWduOiBsZWZ0ICFpbXBvcnRhbnQ7XHJcbn1cclxuLnRleHQtcmlnaHR7XHJcbiAgICB0ZXh0LWFsaWduOiByaWdodCAhaW1wb3J0YW50O1xyXG59XHJcbi5jb250YWluZXJ7XHJcbiAgICBtYXJnaW46ICAxMzNweCA5NHB4O1xyXG59XHJcbi50ZXh0LWNlbnRlcntcclxuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxufVxyXG4uZmlyc3RwYWdle1xyXG4gICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgLypwYWdlLWJyZWFrLWFmdGVyOiBhbHdheXM7Ki9cclxuICAgIHRvcDogLTUwcHg7XHJcbiAgICBsZWZ0OiAtNTBweDtcclxuICAgIHdpZHRoOiAxMTUlO1xyXG4gICAgbWFyZ2luOiAwO1xyXG5cclxufVxyXG4ubWFyZ2luLXBvcnR7XHJcbiAgICBtYXJnaW46IC0xMzNweCA5NHB4O1xyXG4gICAgcGFkZGluZzogLTEzM3B4IDk0cHg7XHJcbn1cclxuLnJlc3BvbnNpdmUtaW1ne1xyXG4gICAgd2lkdGg6IDEwMCU7XHJcbiAgICBwYWRkaW5nOiAwO1xyXG4gICAgbWFyZ2luOiAwO1xyXG4gICAgaGVpZ2h0OiBhdXRvO1xyXG59XHJcbi5yZXNwb25zaXZlLWltZzJ7XHJcbiAgICBtYXJnaW4tdG9wOiAyNXB4O1xyXG4gICAgbWFyZ2luLWJvdHRvbTogMXB4O1xyXG4gICAgbWFyZ2luLWxlZnQ6IDhweDtcclxuICAgIG1hcmdpbi1yaWdodDogOHB4O1xyXG4gICAgd2lkdGg6MjE1cHg7XHJcbiAgICBoZWlnaHQ6MjE1cHg7XHJcbn1cclxuLnJlc3BvbnNpdmUtaW1nM3tcclxuICAgIG1hcmdpbi10b3A6IDIwcHg7XHJcbiAgICBtYXJnaW4tYm90dG9tOiAxcHg7XHJcbiAgICBtYXJnaW4tbGVmdDogOHB4O1xyXG4gICAgbWFyZ2luLXJpZ2h0OiA4cHg7XHJcbiAgICB3aWR0aDoxODBweDtcclxuICAgIGhlaWdodDoxODBweDtcclxufVxyXG4uY2VudHJhci10b2Rve1xyXG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG59XHJcbi50YWJsZS1wcmljZS1hY2NvbW1vZGF0aW9ue1xyXG4gICAgYm9yZGVyLWNvbGxhcHNlOiBjb2xsYXBzZTtcclxuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgIGJvcmRlcjogMXB4IHNvbGlkICM5NDk0OTQ7XHJcbiAgICB3aWR0aDogMTAwJTtcclxufVxyXG4udGFibGUtcHJpY2UtYWNjb21tb2RhdGlvbiB0ZHtcclxuICAgIGJvcmRlci1sZWZ0OiAxcHggc29saWQgIzMzMztcclxufVxyXG4udGFibGUtcHJpY2UtYWNjb21tb2RhdGlvbiB0aHtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICMzMzM7XHJcbiAgICBjb2xvcjogI0ZGRkZGRjtcclxufVxyXG4udGFibGUtcHJpY2UtYWNjb21tb2RhdGlvbiB0aCwgLnRhYmxlLXByaWNlLWFjY29tbW9kYXRpb24gdGR7XHJcbiAgICBib3JkZXI6IDFweCBzb2xpZCAjOTQ5NDk0O1xyXG4gICAgcGFkZGluZzogM3B4IDEwcHg7XHJcbn1cclxuLnRhYmxlLXByaWNlLWFjY29tbW9kYXRpb24gLmhvdXItdGV4dHtcclxuICAgIGNvbG9yOiAjYjcxYzFjIDtcclxufVxyXG4ucGFnZS1icmVhayB7XHJcbiAgICBwYWdlLWJyZWFrLWFmdGVyOiBhbHdheXM7XHJcbn1cclxuLmdyZWVuLXJvd3tcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICNlOGY1ZTk7XHJcbn1cclxuXHJcbi50YWJsZS1wcmljZS1hY2NvbW1vZGF0aW9uIC5hY3RpdmUgYntcclxuICAgIGNvbG9yOiAjZjlhODI1O1xyXG59XHJcbi50YWJsZS1wcmljZS1hY2NvbW1vZGF0aW9uIC5hY3RpdmUgc3BhbntcclxuICAgIGNvbG9yOiAjYjcxYzFjIDtcclxufVxyXG4udGFibGUtcHJpY2UtYWNjb21tb2RhdGlvbiAuZGlzYWJsZWR7XHJcbiAgICBjb2xvcjogIzk0OTQ5NDtcclxufVxyXG4udGV4dC1kZXN0aW5hdGlvbnN7XHJcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICBtYXJnaW4tdG9wOiAtNDBweDtcclxuICAgIGxlZnQ6IC0zMzBweDtcclxuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxufVxyXG4uZm9vdGVyIHtcclxuICAgIHBvc2l0aW9uOiBmaXhlZDtcclxuICAgIGxlZnQ6IDBweDtcclxuICAgIGJvdHRvbTogLTQ1cHg7XHJcbiAgICByaWdodDogMHB4O1xyXG4gICAgaGVpZ2h0OiA1NXB4O1xyXG4gICAgbGluZS1oZWlnaHQ6MnB4O1xyXG59XHJcbi5mb290ZXIgc3BhbntcclxuICAgIGNvbG9yOiAjOTQ5NDk0O1xyXG59XHJcbi5mb290ZXIgLnBhZ2U6YWZ0ZXIge1xyXG4gICAgY29udGVudDogY291bnRlcihwYWdlKTtcclxufVxyXG4uZm9vdGVyIHRhYmxlIHtcclxuICAgIHdpZHRoOiAxMDAlO1xyXG59XHJcbi8qIyBzb3VyY2VNYXBwaW5nVVJMPXF1b3Rlcy1wZGYuY3NzLm1hcCAqL1xyXG4uY2FiZWNlcmFfcGRme1xyXG4gICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgYmFja2dyb3VuZDp1cmwoXCJpbWcvcG9ydGFkYS9wcm9wb3NhbC1jYWJlY2VyYS1wZGYuanBnXCIpO1xyXG4gICAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcclxuICAgIGJhY2tncm91bmQtYXR0YWNobWVudDogZml4ZWQ7XHJcbiAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiBjZW50ZXI7XHJcbiAgICBtYXJnaW46IDBweDtcclxuICAgIC8qcGFnZS1icmVhay1hZnRlcjogYWx3YXlzOyovXHJcbiAgICB0b3A6IC01MHB4O1xyXG4gICAgbGVmdDogLTUwcHg7XHJcbiAgICBoZWlnaHQ6IDUwMHB4O1xyXG4gICAgd2lkdGg6IDkwMHB4O1xyXG4gICAgY29sb3I6IHdoaXRlO1xyXG4gICAgZm9udC1mYW1pbHk6ICdNb250c2VycmF0Jywgc2Fucy1zZXJpZjtcclxuICAgIGZvbnQtc2l6ZTogbWVkaXVtO1xyXG59XHJcbi5jdWVycG9fcGRme1xyXG4gICAgaGVpZ2h0OiAyMDBweDtcclxuICAgIGJhY2tncm91bmQ6ICMyYzJjMmM7XHJcbn1cclxuLnBpZV9wZGZ7XHJcbi8vYmFja2dyb3VuZDp1cmwoXCJpbWcvcG9ydGFkYS9wcm9wb3NhbC1waWUtcGRmLmpwZ1wiKTtcclxuICAgIG1hcmdpbjogMHB4O1xyXG4gICAgcGFkZGluZzogMTAwcHg7XHJcbiAgICBoZWlnaHQ6IDMwMHB4O1xyXG4gICAgY29sb3I6IHdoaXRlO1xyXG4gICAgZm9udC1mYW1pbHk6ICdNb250c2VycmF0Jywgc2Fucy1zZXJpZjtcclxuICAgIGZvbnQtc2l6ZTogbWVkaXVtO1xyXG59XHJcbi5iaWVudmVuaWRhe1xyXG4gICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgcGFnZS1icmVhay1hZnRlcjogYWx3YXlzO1xyXG4gICAgdG9wOiAzNTBweDtcclxuICAgIG1hcmdpbjogNTBweDtcclxuICAgIGNvbG9yOiB3aGl0ZTtcclxufVxyXG4ucGlle1xyXG4gICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgcGFnZS1icmVhay1hZnRlcjogYWx3YXlzO1xyXG4gICAgdG9wOiA5MjBweDtcclxuICAgIHRleHQtYWxpZ246IHJpZ2h0O1xyXG59XHJcbi8qLnRhYmxlLWJvcmRlcnsqL1xyXG4gICAvKmJvcmRlcjogMXB4IHNvbGlkICNjY2M7Ki9cclxuLyp9Ki9cclxuXHJcbi8qLnRhYmxlLXByb3ZlZWRvcnsqL1xyXG4gICAgLypjb2xvcjogIzMwOTdEMTsqL1xyXG4vKn0qL1xyXG4vKi50YWJsZS1mb25kb3sqL1xyXG4gICAgLypiYWNrZ3JvdW5kOiAjMzA5N0QxOyovXHJcbiAgICAvKmNvbG9yOiB3aGl0ZTsqL1xyXG4vKn0qL1xyXG4udGFibGUtcHJvdmVlZG9ye1xyXG4gICAgIGNvbG9yOiAjMzA5N0QxO1xyXG59XHJcblxyXG4vKiogeyovXHJcbiAgICAvKm1hcmdpbjogMDsqL1xyXG4gICAgLypwYWRkaW5nOiAwOyovXHJcbi8qfSovXHJcbiNwYWdlLXdyYXAge1xyXG4gICAgbWFyZ2luOiA5cHg7XHJcbn1cclxucCB7XHJcbiAgICBtYXJnaW46IDhweCAwO1xyXG59XHJcblxyXG4vKlxyXG5HZW5lcmljIFN0eWxpbmcsIGZvciBEZXNrdG9wcy9MYXB0b3BzXHJcbiovXHJcbnRhYmxlIHtcclxuICAgIGZvbnQ6IDEwcHgvMSBHZW9yZ2lhLCBTZXJpZjtcclxuICAgIHdpZHRoOiA5OSU7XHJcbiAgICBib3JkZXItY29sbGFwc2U6IGNvbGxhcHNlO1xyXG59XHJcbi8qIFplYnJhIHN0cmlwaW5nICovXHJcbnRyOm50aC1vZi10eXBlKG9kZCkge1xyXG4gICAgYmFja2dyb3VuZDogI2VlZTtcclxufVxyXG50aCB7XHJcbiAgICBiYWNrZ3JvdW5kOiAjMzA5N0QxO1xyXG4gICAgY29sb3I6IHdoaXRlO1xyXG4gICAgZm9udC13ZWlnaHQ6IGJvbGQ7XHJcbn1cclxudGQsIHRoIHtcclxuICAgIHBhZGRpbmc6IDFweDtcclxuICAgIGJvcmRlcjogMXB4IHNvbGlkICNjY2M7XHJcbiAgICB0ZXh0LWFsaWduOiBsZWZ0O1xyXG59Il0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLEtBQUs7RUFDRCxXQUFXLEVBQUUsbUJBQW1COzs7QUFFcEMsQUFBQSxhQUFhLENBQUE7RUFDVCxNQUFNLEVBQUUsY0FBYztDQUN6Qjs7QUFDRCxBQUFBLFVBQVUsQ0FBQTtFQUNOLE1BQU0sRUFBRSxZQUFZO0NBQ3ZCOztBQUNELEFBQUEsY0FBYyxDQUFBO0VBQ1YsVUFBVSxFQUFFLElBQUk7Q0FDbkI7O0FBQ0QsQUFBQSxjQUFjLENBQUE7RUFDVixVQUFVLEVBQUUsSUFBSTtDQUNuQjs7QUFDRCxBQUFBLGdCQUFnQixDQUFBO0VBQ1osYUFBYSxFQUFFLEdBQUc7Q0FDckI7O0FBQ0QsQUFBQSxnQkFBZ0IsQ0FBQTtFQUNaLGFBQWEsRUFBRSxHQUFHO0NBQ3JCOztBQUNELEFBQUEsaUJBQWlCLENBQUE7RUFDYixhQUFhLEVBQUUsSUFBSTtDQUN0Qjs7QUFDRCxBQUFBLEVBQUUsQ0FBQTtFQUNFLEtBQUssRUFBRSxPQUFRO0NBQ2xCOztBQUNELEFBQUEsRUFBRSxDQUFBO0VBQ0UsS0FBSyxFQUFFLE9BQU87Q0FDakI7O0FBQ0QsQUFBQSxFQUFFLENBQUE7RUFDRSxLQUFLLEVBQUUsT0FBTztDQUNqQjs7QUFDRCxBQUFBLEVBQUUsQ0FBQTtFQUNFLEtBQUssRUFBRSxPQUFPO0NBQ2pCOztBQUNELEFBQUEsQ0FBQyxDQUFBO0VBQ0csS0FBSyxFQUFFLE9BQU87Q0FDakI7O0FBQ0QsQUFBQSxDQUFDLENBQUE7RUFDRyxXQUFXLEVBQUUsSUFBSTtDQUNwQjs7QUFDRCxBQUFBLFVBQVUsQ0FBQTtFQUNOLEtBQUssRUFBRSxJQUFJO0NBQ2Q7O0FBQ0QsQUFBQSxrQkFBa0IsQ0FBQTtFQUNkLFFBQVEsRUFBRSxRQUFRO0NBQ3JCOztBQUNELEFBQUEsUUFBUSxDQUFBO0VBQ0osU0FBUyxFQUFFLElBQUk7Q0FDbEI7O0FBQ0QsQUFBQSxRQUFRLENBQUE7RUFDSixTQUFTLEVBQUUsSUFBSTtDQUNsQjs7QUFDRCxBQUFBLFFBQVEsQ0FBQTtFQUNKLFNBQVMsRUFBRSxJQUFJO0NBQ2xCOztBQUNELEFBQUEsWUFBWSxDQUFBO0VBQ1IsVUFBVSxFQUFFLE1BQU07Q0FDckI7O0FBQ0QsQUFBQSxVQUFVLENBQUE7RUFDTixVQUFVLEVBQUUsZUFBZTtDQUM5Qjs7QUFDRCxBQUFBLFdBQVcsQ0FBQTtFQUNQLFVBQVUsRUFBRSxnQkFBZ0I7Q0FDL0I7O0FBQ0QsQUFBQSxVQUFVLENBQUE7RUFDTixNQUFNLEVBQUcsVUFBVTtDQUN0Qjs7QUFDRCxBQUFBLFlBQVksQ0FBQTtFQUNSLFVBQVUsRUFBRSxNQUFNO0NBQ3JCOztBQUNELEFBQUEsVUFBVSxDQUFBO0VBQ04sUUFBUSxFQUFFLFFBQVE7RUFDbEIsNkJBQTZCO0VBQzdCLEdBQUcsRUFBRSxLQUFLO0VBQ1YsSUFBSSxFQUFFLEtBQUs7RUFDWCxLQUFLLEVBQUUsSUFBSTtFQUNYLE1BQU0sRUFBRSxDQUFDO0NBRVo7O0FBQ0QsQUFBQSxZQUFZLENBQUE7RUFDUixNQUFNLEVBQUUsV0FBVztFQUNuQixPQUFPLEVBQUUsV0FBVztDQUN2Qjs7QUFDRCxBQUFBLGVBQWUsQ0FBQTtFQUNYLEtBQUssRUFBRSxJQUFJO0VBQ1gsT0FBTyxFQUFFLENBQUM7RUFDVixNQUFNLEVBQUUsQ0FBQztFQUNULE1BQU0sRUFBRSxJQUFJO0NBQ2Y7O0FBQ0QsQUFBQSxnQkFBZ0IsQ0FBQTtFQUNaLFVBQVUsRUFBRSxJQUFJO0VBQ2hCLGFBQWEsRUFBRSxHQUFHO0VBQ2xCLFdBQVcsRUFBRSxHQUFHO0VBQ2hCLFlBQVksRUFBRSxHQUFHO0VBQ2pCLEtBQUssRUFBQyxLQUFLO0VBQ1gsTUFBTSxFQUFDLEtBQUs7Q0FDZjs7QUFDRCxBQUFBLGdCQUFnQixDQUFBO0VBQ1osVUFBVSxFQUFFLElBQUk7RUFDaEIsYUFBYSxFQUFFLEdBQUc7RUFDbEIsV0FBVyxFQUFFLEdBQUc7RUFDaEIsWUFBWSxFQUFFLEdBQUc7RUFDakIsS0FBSyxFQUFDLEtBQUs7RUFDWCxNQUFNLEVBQUMsS0FBSztDQUNmOztBQUNELEFBQUEsYUFBYSxDQUFBO0VBQ1QsVUFBVSxFQUFFLE1BQU07Q0FDckI7O0FBQ0QsQUFBQSwwQkFBMEIsQ0FBQTtFQUN0QixlQUFlLEVBQUUsUUFBUTtFQUN6QixVQUFVLEVBQUUsTUFBTTtFQUNsQixNQUFNLEVBQUUsaUJBQWlCO0VBQ3pCLEtBQUssRUFBRSxJQUFJO0NBQ2Q7O0FBQ0QsQUFBMkIsMEJBQUQsQ0FBQyxFQUFFLENBQUE7RUFDekIsV0FBVyxFQUFFLGNBQWM7Q0FDOUI7O0FBQ0QsQUFBMkIsMEJBQUQsQ0FBQyxFQUFFLENBQUE7RUFDekIsZ0JBQWdCLEVBQUUsSUFBSTtFQUN0QixLQUFLLEVBQUUsT0FBTztDQUNqQjs7QUFDRCxBQUEyQiwwQkFBRCxDQUFDLEVBQUUsRUFBRSxBQUEyQiwwQkFBRCxDQUFDLEVBQUUsQ0FBQTtFQUN4RCxNQUFNLEVBQUUsaUJBQWlCO0VBQ3pCLE9BQU8sRUFBRSxRQUFRO0NBQ3BCOztBQUNELEFBQTJCLDBCQUFELENBQUMsVUFBVSxDQUFBO0VBQ2pDLEtBQUssRUFBRSxPQUFRO0NBQ2xCOztBQUNELEFBQUEsV0FBVyxDQUFDO0VBQ1IsZ0JBQWdCLEVBQUUsTUFBTTtDQUMzQjs7QUFDRCxBQUFBLFVBQVUsQ0FBQTtFQUNOLGdCQUFnQixFQUFFLE9BQU87Q0FDNUI7O0FBRUQsQUFBbUMsMEJBQVQsQ0FBQyxPQUFPLENBQUMsQ0FBQyxDQUFBO0VBQ2hDLEtBQUssRUFBRSxPQUFPO0NBQ2pCOztBQUNELEFBQW1DLDBCQUFULENBQUMsT0FBTyxDQUFDLElBQUksQ0FBQTtFQUNuQyxLQUFLLEVBQUUsT0FBUTtDQUNsQjs7QUFDRCxBQUEyQiwwQkFBRCxDQUFDLFNBQVMsQ0FBQTtFQUNoQyxLQUFLLEVBQUUsT0FBTztDQUNqQjs7QUFDRCxBQUFBLGtCQUFrQixDQUFBO0VBQ2QsUUFBUSxFQUFFLFFBQVE7RUFDbEIsVUFBVSxFQUFFLEtBQUs7RUFDakIsSUFBSSxFQUFFLE1BQU07RUFDWixVQUFVLEVBQUUsTUFBTTtDQUNyQjs7QUFDRCxBQUFBLE9BQU8sQ0FBQztFQUNKLFFBQVEsRUFBRSxLQUFLO0VBQ2YsSUFBSSxFQUFFLEdBQUc7RUFDVCxNQUFNLEVBQUUsS0FBSztFQUNiLEtBQUssRUFBRSxHQUFHO0VBQ1YsTUFBTSxFQUFFLElBQUk7RUFDWixXQUFXLEVBQUMsR0FBRztDQUNsQjs7QUFDRCxBQUFRLE9BQUQsQ0FBQyxJQUFJLENBQUE7RUFDUixLQUFLLEVBQUUsT0FBTztDQUNqQjs7QUFDRCxBQUFRLE9BQUQsQ0FBQyxLQUFLLEFBQUEsTUFBTSxDQUFDO0VBQ2hCLE9BQU8sRUFBRSxhQUFhO0NBQ3pCOztBQUNELEFBQVEsT0FBRCxDQUFDLEtBQUssQ0FBQztFQUNWLEtBQUssRUFBRSxJQUFJO0NBQ2Q7O0FBQ0QsMENBQTBDO0FBQzFDLEFBQUEsYUFBYSxDQUFBO0VBQ1QsUUFBUSxFQUFFLFFBQVE7RUFDbEIsVUFBVSxFQUFDLDRDQUE0QztFQUN2RCxpQkFBaUIsRUFBRSxTQUFTO0VBQzVCLHFCQUFxQixFQUFFLEtBQUs7RUFDNUIsbUJBQW1CLEVBQUUsTUFBTTtFQUMzQixNQUFNLEVBQUUsR0FBRztFQUNYLDZCQUE2QjtFQUM3QixHQUFHLEVBQUUsS0FBSztFQUNWLElBQUksRUFBRSxLQUFLO0VBQ1gsTUFBTSxFQUFFLEtBQUs7RUFDYixLQUFLLEVBQUUsS0FBSztFQUNaLEtBQUssRUFBRSxLQUFLO0VBQ1osV0FBVyxFQUFFLHdCQUF3QjtFQUNyQyxTQUFTLEVBQUUsTUFBTTtDQUNwQjs7QUFDRCxBQUFBLFdBQVcsQ0FBQTtFQUNQLE1BQU0sRUFBRSxLQUFLO0VBQ2IsVUFBVSxFQUFFLE9BQU87Q0FDdEI7O0FBQ0QsQUFBQSxRQUFRLENBQUE7RUFFSixNQUFNLEVBQUUsR0FBRztFQUNYLE9BQU8sRUFBRSxLQUFLO0VBQ2QsTUFBTSxFQUFFLEtBQUs7RUFDYixLQUFLLEVBQUUsS0FBSztFQUNaLFdBQVcsRUFBRSx3QkFBd0I7RUFDckMsU0FBUyxFQUFFLE1BQU07Q0FDcEI7O0FBQ0QsQUFBQSxXQUFXLENBQUE7RUFDUCxRQUFRLEVBQUUsUUFBUTtFQUNsQixnQkFBZ0IsRUFBRSxNQUFNO0VBQ3hCLEdBQUcsRUFBRSxLQUFLO0VBQ1YsTUFBTSxFQUFFLElBQUk7RUFDWixLQUFLLEVBQUUsS0FBSztDQUNmOztBQUNELEFBQUEsSUFBSSxDQUFBO0VBQ0EsUUFBUSxFQUFFLFFBQVE7RUFDbEIsZ0JBQWdCLEVBQUUsTUFBTTtFQUN4QixHQUFHLEVBQUUsS0FBSztFQUNWLFVBQVUsRUFBRSxLQUFLO0NBQ3BCOztBQUNELGtCQUFrQjtBQUNmLDJCQUEyQjtBQUM5QixLQUFLO0FBRUwscUJBQXFCO0FBQ2pCLG1CQUFtQjtBQUN2QixLQUFLO0FBQ0wsaUJBQWlCO0FBQ2Isd0JBQXdCO0FBQ3hCLGlCQUFpQjtBQUNyQixLQUFLO0FBQ0wsQUFBQSxnQkFBZ0IsQ0FBQTtFQUNYLEtBQUssRUFBRSxPQUFPO0NBQ2xCOztBQUVELE9BQU87QUFDSCxjQUFjO0FBQ2QsZUFBZTtBQUNuQixLQUFLO0FBQ0wsQUFBQSxVQUFVLENBQUM7RUFDUCxNQUFNLEVBQUUsR0FBRztDQUNkOztBQUNELEFBQUEsQ0FBQyxDQUFDO0VBQ0UsTUFBTSxFQUFFLEtBQUs7Q0FDaEI7O0FBRUQ7O0VBRUU7QUFDRixBQUFBLEtBQUssQ0FBQztFQUNGLElBQUksRUFBRSxxQkFBcUI7RUFDM0IsS0FBSyxFQUFFLEdBQUc7RUFDVixlQUFlLEVBQUUsUUFBUTtDQUM1Qjs7QUFDRCxvQkFBb0I7QUFDcEIsQUFBQSxFQUFFLEFBQUEsWUFBYSxDQUFBLEFBQUEsR0FBRyxFQUFFO0VBQ2hCLFVBQVUsRUFBRSxJQUFJO0NBQ25COztBQUNELEFBQUEsRUFBRSxDQUFDO0VBQ0MsVUFBVSxFQUFFLE9BQU87RUFDbkIsS0FBSyxFQUFFLEtBQUs7RUFDWixXQUFXLEVBQUUsSUFBSTtDQUNwQjs7QUFDRCxBQUFBLEVBQUUsRUFBRSxBQUFBLEVBQUUsQ0FBQztFQUNILE9BQU8sRUFBRSxHQUFHO0VBQ1osTUFBTSxFQUFFLGNBQWM7RUFDdEIsVUFBVSxFQUFFLElBQUk7Q0FDbkIifQ== */