.nav-pills .nav-link.active{
  background: #f9a825 !important;
}
.login-circ:focus{
  border: 2px solid red !important;
}
.swiper-container {
  width: 100%;
  height: 460px;
}
.swiper-slide {
  font-size: 18px;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 5px;
}
.swiper-container-current{
  height: 87vh !important;
}
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #f9a825 !important;
}
.nav-link, .nav-link:hover {
  background: #6c757d;
  color: #ffffff;
}
a[aria-expanded="true"]::before {
  content: '' !important;
}
a[aria-expanded="false"]::before, a[aria-expanded="true"]::before{
  content: '' !important;
}
.arrow-page{
  position: absolute;
  top: 10px;
}
.btn-save-fixed{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.btn-save-fixed-plus{
  width: 150px;
}
// estilos lobo
body {
  //padding-top: 50px;
}
/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.list-style-none{
  list-style: none;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.nav-brand-goto{
  float: left;
}
.w-100{
  width: 100% !important;
}
.display-block{
  display: block;
}
.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
  margin-left:2px;
}
/*
 * Sidebar
 */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #222222;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #e09e37;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  //background-color: #428bca;
}
/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
//---sidebar customized
.bg-sub-title-aside{
  background: #efefef;
}
.placeholder {
  border: 1px solid #e5e5e5;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px #e5e5e5;
  -moz-box-shadow: 0px 0px 10px #e5e5e5;
  box-shadow: 0px 0px 10px #e5e5e5;
}
.box-sortable{
  min-height: 20px;
  /*padding: 19px;*/
  /*margin-bottom: 20px;*/
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
//MODAL LEFT
/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 450px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}

.btn-right-fixed{
  position: fixed;
  right: -40px;
  top:50%;
}
/* ----- PDF ----- */
.portada-pdf{
  height: 207px;
  overflow-x: hidden;
  overflow-y: hidden;
  perspective: 180px;
  position: relative;
}
.portada-pdf img{
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width:100%;
  //filter:alpha(opacity=50);
  //-moz-opacity: 0.5;
  //opacity: 0.5;
}
.portada-pdf .box-dowload{
  position: absolute;
  border-bottom: 2px solid red;
  background: #ddd;
  bottom: 0;
  left: 0;
  width:100%;
  padding: 10px;
  line-height:25px;
}
.portada-pdf .box-dowload1{
  position: absolute;
  border-bottom: 2px solid green;
  background: #ddd;
  bottom: 0;
  left: 0;
  width:100%;
  padding: 10px;
  line-height:25px;
}
.portada-pdf .box-letter-proposal{
  position: absolute;
  top: 10%;
  font-weight:bold;
  color: white;
  width: 100%;
  font-size: 60px;
}
//OWL
.item.box-option{
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.item .box-option-footer{
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.box-option a{
  text-decoration: none;
}


// checkbox
.checkbox {
  padding-left: 24px; }
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
  line-height: 1;}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -3px;
  left: -3px;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: -2px;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555; }
.checkbox input[type="checkbox"] {
  opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
  border-radius: 50%; }
.checkbox.checkbox-inline {
  margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

.radio {
  padding-left: 20px; }
.radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px; }
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out; }
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
  opacity: 0; }
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
  opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed; }
.radio.radio-inline {
  margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }

// LOCO

//auto size text area
.animated {
  resize: vertical;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}

.input-porcent{
  width: 80px !important;
  float: right !important;
  font-weight: bold;
  font-size: 20px;
  color: #2ab27b;
}

//hidalgo
.clickable {
  cursor: pointer;
}
//book
.box-header-book{
  //display: table-cell;
  text-align: left;
  color: #000;
  padding: 6px 25px 6px 12px;
  background-color: #f3f5f6;
  background: url("/img/stage-arrow.png") no-repeat 100% 0,linear-gradient(#fff, #f3f5f6);
  background-size: 20px 100%, 100% 100%;
  border-right: 1px #c2c8cd solid;
  line-height: 1.3em;
  overflow: visible;
  vertical-align: middle;

}
.border-right-0{
  border-right: none !important;
}
.border-left-0{
  border-left: 0 !important;
}
.box-header-book h4{
  font-size: 16px;
  //line-height: 21px;
  font-weight: 600;
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.box-header-book span{
  //position: absolute;
  display: block;
  width: 100%;
  font-size: 12px;
  text-overflow: ellipsis;
  font-weight: lighter;
}
.box-list-book{
  //display: table-cell;
  border-right: 1px solid transparent;
  border-color: #e0e4e7;
  text-align: left;
  background-color: transparent;
  transition: background-color 0.05s ease-in-out;
  min-height: 87vh;
}
.box-list-book li{
  list-style: none;
}

.content-list-book{
  position: relative;
  min-height: 50px;
  border-bottom: 1px solid transparent;
  background-color: #fff;
  border-bottom-color: #e0e4e7;
}
.content-list-book-s{
  //display: table-cell;
  width: 100%;
  //position: relative;
  min-height: 50px;
  margin: 0;
  border: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content-list-book a{
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 8px 25px 8px 12px;
  text-decoration: none;
  color: #26292c;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.content-list-book-s img{
  height: 16px;
  margin: 2px 8px 0 0;
  border-radius: 50%;
  vertical-align: top;
}
.content-list-book-s small{
  font-size: 12px;
  //line-height: 16px;
  padding: 2px 0px;
  color: #888e94;
  text-overflow: ellipsis;
  display: block;
  transition: color 0.1s ease-in-out;
  position: relative;
}
.content-list-book-s .icon{
  position: absolute;
  top: 45%;
  right: 0;
  margin: -8px 8px 0 0;
  cursor: pointer;
  cursor: hand;
}
.content-list-book-s .icon a{
  color: #ffa500;
  padding: 0 !important;
}
.content-list-book-s .icon a:hover{
  color: #333333 !important;
}

.content-list-book-s .icon a.text-success{
  color: #5cb85c;
  padding: 0 !important;
}


.lista_dias{
  //color:#3097d1;
  color: #d11949;
}
.barrasv {
  width:4em;
  text-shadow:#CCCCCC 0.1em 0.1em 0.1em;
  border-radius:1px;
  -moz-border-radius:1px;
  -webkit-border-radius:1px;
  margin:0.002em;
}
.barrasv:hover {
  cursor: pointer;
}
.mes:hover {
  cursor: pointer;
}
.caja{
  background: #ffffff;
}
.caja_itinerario{
  border: 1px solid #ffa500;
  padding: 5px;
  margin: 5px;
}

.caja_n_v{
  //padding: 5px;
  margin: 5px;
  margin-top: -5px;
}
.caja_datos{
  border: 1px solid #26292c;
  padding: 5px;
  margin: 5px;
}
.caja_datos2{
  border: 1px solid #26292c;
  padding: 5px;
}
.caja_negro{
  background: #26292c;
  color: white;
  //padding: -5px;
}

.caja_verde{
  background: #7F8429;
  color: white;
}
.btn-green{
  background: #26292c;
  color: white;
}

.caja_itineario{
  //overflow-y: auto;
  //height: 200px;
  background: #26292c;
  color: white;
  margin: 5px;
  padding: 5px;
}

.txt_itinerarios{

}
.itinerarios_1{

}
.caja_dia{
  background: #2c2c2c;
  color: white;
  padding: 5px;
}
.caja_dia_indice{
  color: #2c2c2c;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}
.caja_detalle{
   padding: 5px;
 }
.caja_detalle_hotel{
  background: #fbc23d73;
  padding: 5px;
}
.caja_paso_activo{
  background: #7F8429;
  color:white;
  border: 1px solid #ffa500;
  padding: 5px;
  text-align: center;
}
.caja_paso_activo_{
  background: #7F8429;
  color:white;
  border: 1px solid #7F8429;
  padding: 5px;
  text-align: center;
}
.caja_paso_noactivo{
  background: white;
  color:#333333;
  border: 1px solid #ffa500;
  padding: 5px;
  text-align: center;
}
.caja_paso_noactivo_{
  background: white;
  color:#333333;
  border: 1px solid white;
  padding: 5px;
  text-align: center;
}
.caja_items{
  border-bottom: 1px solid #949494;
margin-bottom: 5px;
}
.linea{
  border-bottom: 4px solid #ffa500;
}
.total_profit{
  color:#000;
  border: 4px solid #333333;
}
.lista_itinerarios2{

}
.ventas{
 border-top: 5px solid #328ed1;
  background: white;
  color: #333333;
  font-size: medium;
  margin: 0 35px;
}
.activo{
  //background: white !important;
  background: #d4d4d4 !important;
}
.contabilidad{
  border-top: 5px solid #f17e54;
  background: white;
  color: #333333 !important;
  margin: 0 35px;
}
.reservas{
  border-top: 5px solid #7F8429;
  background: white;
  color: #333333 !important;
  margin: 0 35px;
}
.operaciones{
  border-top: 5px solid red;
  background: white;
  color: #333333 !important;
  margin: 0 35px;
}
.reportes{
  border-top: 5px solid #d11a70;
  background: white;
  color: #333333 !important;
  margin: 0 35px;
}
.bg-white{
  background: white;
}
.menu-titulo{
  border: 3px solid #76b9d1;
  padding: 5px;
  color: #000;
}
.menu-activo{
  background: #e09e37;
}
.menu-lista{
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  color: #000;
  text-decoration: none;
}
.menu-lista-activo{
  background: #d4d4d4;
}
.link{
  text-decoration: none !important;
}
.puntero:hover {
  cursor: pointer;
}

//sortable
body.dragging * {
  cursor: move !important; }

.dragged {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 1; }

ol.vertical {
  margin: 0 0 9px 0;
  min-height: 10px;
}
li.placeholder{
  min-height: 50px;
  border: 2px solid transparent;
  border-radius: 2px;
  background-color: #c5c5c5;
  border-color: #e0e4e7;
}
ol.vertical li {
  display: block;
  //margin: 5px;
  //padding: 5px;
  //border: 1px solid #cccccc;
  //color: #0088cc;
  //background: #eeeeee;
}
ol.vertical li.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none; }
ol.vertical li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -5px;
  left: -5px;
  top: -4px;
  border: 5px solid transparent;
  border-left-color: red;
  border-right: none; }


ol li.highlight {
  background: #333333;
  color: #999999; }

//
.box-services-field{
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2;
  column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  -moz-column-gap: 1.5em;
  -o-column-gap: 1.5em;
  //padding: 15px 0 15px 60px;
}
.padding-left-0{
  padding-left: 0px !important;
}
.cabecera-res{
  border: 1px solid #2c2c2c;
  //border-left: 1px solid #2c2c2c;
  //border-right: 1px solid #2c2c2c;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  margin: 0px 2px;
  font-size: 18px;
  border-radius: 5px 5px 0px 0px;
}
.cabecera-res-lat-invi{
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
  margin: 0px 2px;
}
.cabecera-res-lat{
  border-left: 1px solid #2c2c2c;
  border-right: 1px solid #2c2c2c;
  border-bottom: 1px inset #ddd;

  text-align: right;
  color: #2c2c2c;
  font-weight: bold;
  margin: 0px 2px;
  font-size: 16px;
}
.cabecera-res-total{
  border: 2px solid #2c2c2c;
  text-align: right;
  color: #2c2c2c;
  font-weight: bold;
  margin: 0px 2px;
  font-size: 18px;
}
.cabecera-res-total-por{
  border-left: 1px solid #2c2c2c;
  border-right: 1px solid #2c2c2c;
  border-bottom: 1px solid #2c2c2c;
  text-align: center;
  color: #000000;
  font-weight: bold;
  margin: 0px 2px;
  font-size: 18px;
}
.bg-verde{
  background: #55dd45;
}
.bg-naranja{
  background: #dd8909;
}
.bg-sombra{
  background: #2579a9;
}
.borde-success{
  border: 1px solid #55dd45;
}
.borde-info{
  border: 1px solid #328ed1;
}
.borde-danger{
  border: 1px solid #dd060f;
}
.precio_g_p{
  font-size: 10px !important;
}
.aling-izq{
  text-align: left !important;
}
.stick{
  background: #2a88bd;
  border-radius: 3px;
  color: white;
  padding: 3px;
  font-size: 14px;
  margin-bottom: 5px;
}
.gb-color-zebra{
  background: #ddd;
}
.color-borde > tr > td{
  border: 1px solid #000;
}

.btn-unset{
  background: #9e9e9e;
}



.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {


  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  //background: #7386D5;
  //color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 5px 0;
  //background: #6d7fcc;
}

#sidebar ul.components {
  //padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  //color: #fff;
  //padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #959595;
  background: #e4e4e4;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #f9a825;
}


a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}
a[aria-expanded="true"]::before {
  content: '\e260';
}


ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
a.download {
  background: #fff;
  color: #7386D5;
}
a.article, a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
#content.active {
  width: 100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - 250px);
  }
  #sidebarCollapse span {
    display: none;
  }
}