
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #5bc0de;
$brand-success: #5cb85c;
$brand-warning: #ffa500;
$brand-danger: #d9534f;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             #5cb85c !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #3097D1 !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #ffa500 !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #ff0000 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;



// font montserrat
.font-montserrat{
  font-family: 'Montserrat', sans-serif;
}
// Divider
.divider{
  height: 1px;
  overflow: hidden;
  background-color: #e5e5e5;
}
.font-weight-bold{
  font-weight: bold;
}
.display-block{
  display: block;
}
//.clickable {
//  cursor: pointer;
//}
  //--Default
//--spacer
.padding-side-10{
  padding: 0 10px;
}
.padding-side-20{
  padding: 0 20px;
}
.padding-5{
  padding: 5px;
}
.padding-10{
  padding: 10px;
}
.padding-15{
  padding: 15px;
}
.padding-20{
  padding: 20px;
}
.padding-25{
  padding: 25px;
}
.padding-30{
  padding: 30px;
}

.padding-left-10{
  padding-left: 10px;
}


.padding-left-30{
  padding-left: 30px;
}

.no-margin{
  margin: 0 !important;
}
.no-padding{
  padding: 0 !important;
}
.margin-right-0{
  margin-right: 0 !important;
}
.margin-bottom-0{
  margin-bottom: 0 !important;
}

.margin-bottom-5{
  margin-bottom: 5px;
}
.margin-bottom-7{
  margin-bottom: 7px;
}
.margin-bottom-10{
  margin-bottom: 10px;
}
.margin-bottom-20{
  margin-bottom: 20px;
}
.margin-bottom-15{
  margin-bottom: 15px;
}
.margin-bottom-20{
  margin-bottom: 20px;
}

.margin-left-60{
  margin-left: 60px !important;
}

.margin-top-5{
  margin-top: 5px;
}
.margin-top-7{
  margin-top: 7px;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-top-15{
  margin-top: 15px;
}
.margin-top-20{
  margin-top: 20px;
}
.margin-top-25{
  margin-top: 25px;
}
.margin-top-30{
  margin-top: 30px;
}
.margin-top-40{
  margin-top: 40px;
}
//--font
.text-10{
  font-size: 10px;
}
.text-11{
  font-size: 11px;
}
.text-12{
  font-size: 12px;
}
.text-13{
  font-size: 13px;
}
.text-14{
  font-size: 14px;
}
.text-15{
  font-size: 15px;
}
.text-16{
  font-size: 16px;
}
.text-17{
  font-size: 17px;
}
.text-18{
  font-size: 18px !important;
}
.text-19{
  font-size: 19px;
}
.text-20{
  font-size: 20px;
}
.text-21{
  font-size: 21px;
}
.text-22{
  font-size: 22px;
}
.text-23{
  font-size: 23px;
}
.text-24{
  font-size: 24px;
}
.text-25{
  font-size: 25px !important;
}
.text-26{
  font-size: 26px;
}
.text-27{
  font-size: 27px;
}
.text-28{
  font-size: 28px;
}
.text-29{
  font-size: 29px;
}
.text-30{
  font-size: 30px;
}
.text-40{
  font-size: 40px;
}
.text-50{
  font-size: 50px;
}
.text-60{
  font-size: 60px;
}
.text-70{
  font-size: 70px;
}
.text-80{
  font-size: 80px;
}
//--Color
.text-green-goto{
  color: #7F8429 !important;
}
.text-orange-goto{
  color: #e09e37 !important;
}
.text-grey-goto{
  color: #333333 !important;
}
.text-grey-goto-light{
  color: #adadad;
}
.text-white{
  color: white;
}
.text-pink-goto{
  color: #e91e63 ;
}
//--bg
.bg-green-goto{
  background: #7F8429;
}
.bg-orange-goto{
  background: #e09e37;
}
.bg-grey-goto{
  background: #333333;
}
.bg-grey-goto-light{
  background: #717171;
}
.bg-grey-goto-light1{
  background: #333;
  border-radius: 5px;
  margin: 2px;
}
.bg-grey-goto-light2{
  background: #474747;
  border-radius: 5px;
  margin: 2px;
}
.bg-grey-goto-light3{
  background: #636363;
  border-radius: 5px;
  margin: 2px;
}
