// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//JQueryUI
@import '~jquery-ui/themes/base/all.css';

@import "~swiper/dist/css/swiper.min.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
